body{
    font-family: var(--bs-font-sans-serif);
}
.wid1{
    width: 59%;
}
.wid2{
    width: 40%;
    padding: 5px;
}
.hei1{
    height: 40px;
    width: 40px;
}
.fs1{
    font-size: 14px;
}
.trans{
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(50px); 
}
.cardbdy{
    backdrop-filter: blur(5px); 
}
.bg-transparent{
    background:transparent;
}